<%= form_with(model: question, local: true, class: "w-full") do |form| %>
  <div class="field">
    <label for="question_title">
      <%= t 'questions.new.form.title' %>
    </label>
    <%= form.text_field :title %>
    <% if question.errors[:title]%>
      <small class="error"><%= question.errors[:title][0] %></small>
    <%end %>
  </div>

  <div>
<!--    <textarea-with-markdown :old-value="<%#= question.description.to_json %>">-->

<!--    </textarea-with-markdown>-->

    <%= render 'test', oldValue: question.description %>

    <% if question.errors[:description] %>
      <small class="error"><%= question.errors[:description][0] %></small>
    <% end %>
  </div>

  <footer class="flex flex-col md:flex-row-reverse justify-between items-center">
    <button type="submit" class="self-center btn-primary text-sm mt-2 px-3 py-2">
      <%= t 'questions.new.form.ask' %>
    </button>

    <%= link_to 'گه‌ڕانه‌وه‌', root_path, class: 'link-accent padded-underline text-sm my-2' %>
  </footer>
<% end %>
