<%= form_with(model: question, local: true, class: "w-full") do |form| %>
  <%# if question.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>-->

<!--      <ul>-->
        <%# question.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <div class="field">
    <label for="question_title">
      <%= t 'questions.new.form.title' %>
    </label>
    <%= form.text_field :title %>
    <% if question.errors[:title]%>
      <small class="error"><%= question.errors[:title][0] %></small>
    <%end %>
  </div>

  <div>
    <textarea-with-markdown :old-value="<%= question.description.to_json %>">

    </textarea-with-markdown>

    <% if question.errors[:description] %>
      <small class="error"><%= question.errors[:description][0] %></small>
    <% end %>
  </div>

  <footer>
    <button type="submit" class="self-center btn-primary mt-2 px-3 py-2">
      <%= t 'questions.new.form.ask' %>
    </button>
  </footer>
<% end %>
