<%= form_with(model: question, local: true, class: "w-full") do |form| %>
  <div class="field">
    <label for="question_title">
      <%= t 'questions.new.form.title' %>
    </label>
    <%= form.text_field :title %>
    <% if question.errors[:title] %>
      <small class="error"><%= question.errors[:title][0] %></small>
    <% end %>
  </div>

  <div>
    <%= render(MarkdownControlsComponent.new("question_description", question.description)) do %>

      <textarea data-target="markdown.input"
                data-action="input->markdown#convertToMarkdown"
                ref="input"
                id="answer_body"
                name="question[description]"
                class="resize-y w-full<%= question.errors[:description][0] ? "border-red-300" : "" %>"
                rows="10"></textarea>

      <% if question.errors[:description] %>
        <small class="error"><%= question.errors[:description][0] %></small>
      <% end %>
    <% end %>
  </div>

  <footer class="flex flex-col md:flex-row-reverse justify-between items-center">
    <button type="submit" class="self-center btn-primary text-sm mt-2 px-3 py-2">
      <%= t 'questions.new.form.ask' %>
    </button>

    <%= link_to 'گه‌ڕانه‌وه‌', root_path, class: 'link-accent padded-underline text-sm my-2' %>
  </footer>
<% end %>
