<div id="test" class="w-full relative flex flex-col justify-center items-center  mt-2 md:mt-10">
  <div id="banner" class="banner w-8/12 bg-red-400 absolute p-5 text-white top-0">
    <button class="focus:outline-none" onclick="document.getElementById('banner').classList.remove('flash')">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>

    <h1 id="banner-content" class="mx-4">

    </h1>
  </div>
  <div class="bg-white rounded-md shadow w-full lg:w-9/12 flex justify-center items-center flex-col md:flex-row p-5">
    <article class="w-full">
      <header class="text-2xl mb-1 md:mb-2 flex items-center">
        <h1 class="rotate-45"><%= @question.formatted_title %></h1>
      </header>

      <hr class="bg-gray-300 mb-1 md:mb-4"/>
      <main class="md:px-2 flex w-full">
        <%= render 'questions/vote_buttons', entity: @question %>
        <main class="mx-2 my-2 w-full">
          <%= markdown @question.description %>
        </main>
      </main>
      <hr class="bg-gray-300 mb-1 md:mb-4"/>
      <footer class="md:px-5">
        <header class="my-2">
          <h1 class="text-xl"><%= @question.count_answers.to_s.concat(t('questions.index.answers')) %></h1>
        </header>

        <section>
          <% @question.answers.each do |answer| %>
             <%= render 'answers/answer', answer: answer %>
          <% end %>
        </section>

        <h2><%= t '.answer_question' %></h2>

        <main class="w-full">
         <%= render 'answers/new' %>
        </main>
      </footer>
    </article>
  </div>
</div>