<section class="flex flex-col justify-center items-end mt-2 mb-4">
  <main class="w-full flex items-start">
    <aside
      data-controller=vote
      data-vote-entity="<%= answer.id %>"
      data-vote-type="<%= answer.class.to_s %>"
      class="flex flex-col items-center">
      <button data-action="vote#upvote"
              data-target="vote.up"
              class="focus:outline-none
                <%= answer.votes.find_by_voter_id(current_user.id).vote_status ? 'text-accent' : '' if current_user && !answer.votes.find_by_voter_id(current_user.id).nil? %>">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
        </svg>
      </button>

      <h1
        data-target="vote.count"
        class="text-xl">
        <%= answer.total_votes %>
      </h1>

      <button
        class="focus:outline-none <%= answer.votes.find_by_voter_id(current_user.id).vote_status ? '' : 'text-accent' if current_user && !answer.votes.find_by_voter_id(current_user.id).nil? %> %>"
        data-action="vote#downvote"
        data-target="vote.down">
        <svg class="w-6 h-6 transform rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
        </svg>
      </button>

      <ul class="flex flex-col text-sm">
        <% if current_user && answer.owner_is?(current_user) %>
          <li class="mt-2">
            <%= link_to edit_answer_path(answer), class: 'text-orange-500 hover:text-orange-700', aria: {
                label: 'edit'
            }, title: t('action.edit') do %>
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
              </svg>
            <% end %>
          </li>

          <li class="mt-2">
            <%= link_to answer, method: :delete, class: 'text-red-500 hover:text-red-700', title: t('action.delete'), aria: {
                label: 'delete'
            } do %>
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            <% end %>
          </li>
        <% end %>
      </ul>

    </aside>
    <main class="rounded border border-gray-200 my-2 p-3 w-full mx-2">
      <section class="markdown-container">
        <%= markdown answer.body %>
      </section>

      <footer class="flex justify-end items-center mt-2">
        <small class="mb-2">
          <%= t 'questions.show.answered_by' %>
          <%= link_to answer.user.username, user_show_path(username: answer.user.username).concat('?tab=questions'), class: 'link-primary' %>
        </small>
      </footer>
    </main>
  </main>
</section>

<hr class="bg-gray-300 mb-1 md:mb-4 "/>