<div class="w-full flex justify-center items-center flex-col">
  <div class="w-full md:w-4/12">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {
        class: "flex flex-col w-full bg-white p-4 mt-4 rounded-md border border-gray-400 shadow"
    }) do |f| %>
      <header class="text-center text-primary text-3xl">
        <h2><%= t 'nav.login' %></h2>
      </header>
      <div class="flex w-full flex-col my-1">
        <label for="user_email">
          <%= t 'auth.email' %>
        </label>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="flex w-full flex-col my-1">
        <label for="user_password">
          <%= t 'auth.password' %>
        </label>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, {id: "remember_me"} %>
          <label for="remember_me">
            <%= t 'auth.remember_me' %>
          </label>
        </div>
      <% end %>

      <button class="self-center btn-primary mt-2 px-4 py-1" type="submit">
        <%= t 'nav.login' %>
      </button>
    <% end %>

    <footer>
      <%= render "devise/shared/links" %>
    </footer>
  </div>
</div>
