<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>Kurdoverflow</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background: #EEF0F1; direction: rtl;">
<header class="px-1 md:px-10 bg-white flex justify-center">


  <nav class="flex justify-between items-center py-1 w-full md:w-8/12 my-1">
    <div class="flex w-full md:w-6/12 items-center justify-start">
      <h1 class="mx-2 text-3xl text-primary font-bold">
        Psyar<span class="text-accent font-normal">Kar</span>
      </h1>

      <input type="text" class="w-10/12 md:w-8/12 focus:shadow self-end text-sm" placeholder="<%= t 'nav.search' %>">
    </div>


    <ul class="flex justify-<%= current_user ? "start" : "end"%> items-center hidden md:flex md:w-6/12 text-xs">
      <% if current_user %>
        <li class="mx-2 bg-primary py-2 px-3 rounded-md text-white">
          <a href="<%= new_question_path %>"><%= t 'nav.ask' %></a>
        </li>

        <li class="mx-2">
          <form action="<%= destroy_user_session_path %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <button type="submit" class="btn-primary py-2 px-2 rounded-md text-white">
               <%= t 'auth.logout' %>
            </button>
          </form>
        </li>

        <% else %>
        <li class="mx-2 bg-primary py-2 px-3 rounded-md text-white">
          <a href="<%= user_session_path %>"><%= t 'nav.login' %></a>
        </li>
        <li class="mx-2 bg-accent py-2 px-2 rounded-md text-white">
          <a href="<%= new_user_registration_path %>"><%= t 'nav.signup' %></a>
        </li>
      <% end %>
    </ul>
  </nav>

</header>

  <main id="app" class="px-2 md:px-10 flex flex-col justify-center items-center">
    <%= yield %>
  </main>


<%= debug(params) %>

</body>
</html>
